
$primary-bgcolor: #eeeae1;

$primary-color: #387ca3;
$primary-color-dark: darken($primary-color, 10%);

$secondary-color: #a3babb;
$secondary-color-dark: darken($secondary-color, 10%);

$primary-text-color: #444;

$error-color: red;
$error-background-color: lighten($error-color, 40%);


